*{
    padding: 0;
    margin: 0;
}


.contact{
    width: 500px;
    background-color: rgba(8, 227, 242,0.1);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10cqb;
    margin-top: -130PX;
}
.input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid green;
    border-radius: 10px;
    outline: none;
}

.btn{
    border-radius: 20px;
    width: 150px;
    color: white;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(255, 4, 4);
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
    border-radius: 50px;
}

.con{
   margin-top: -65%;
    color: rgb(255, 0, 43);
    margin-top: -180;
    font-size: 45px;
}
img{
    height: 100%;
    width: 100%;
}